In [1]:
import numpy as np
import pandas as pd

Importing Tiles created in QGIS

In [2]:
tiles = pd.read_csv(r'.\Data\Tiles.csv')

In [3]:
tiles.head(5)

,Tile_ID,Long2,Lat2,Long1,Lat1,Mid_lat,Mid_long
0,36,-122.514446,37.779636,-122.513306,37.778732,37.779184,-122.513876
1,37,-122.514446,37.778732,-122.513306,37.777829,37.778280,-122.513876
2,151,-122.513306,37.779636,-122.512166,37.778732,37.779184,-122.512736
3,152,-122.513306,37.778732,-122.512166,37.777829,37.778280,-122.512736
4,153,-122.513306,37.777829,-122.512166,37.776925,37.777377,-122.512736

In [4]:
len(tiles)

10471

Split street characterstics into tiles

Stop signs <br>
https://data.sfgov.org/Transportation/Stop-Signs/4542-gpa3

In [5]:
stops = pd.read_csv(r'.\Data\Stop_Signs.csv')
stops.head(5)

,STREET,X_STREET,DIRECTION,ST_FACING,DIST,CNN,CONCATENAT,MTAB_DATE,MTAB_RESO_TEXT,MTAB_MOTION,STATUS,WORKORDER,INSTALL_DATE,shape,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,MORAGA ST,45TH AVE,NE,WB,0,27930000.0,MORAGA ST & 45TH AVE,2.021062e+13,NaN,6423,I,21-02595,2.021072e+13,POINT (-122.50446 37.75488),39.0,39.0,10,7,35
1,PERU,ATHENS,NaN,EB,NaN,21652000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-122.42493 37.726322),90.0,90.0,9,1,7
2,LA PLAYA ST,JUDAH,NW,SB,0,27960000.0,LA PLAYA ST & JUDAH,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-122.50914 37.76028),39.0,39.0,10,7,35
3,37TH AVE,CABRILLO,NW,SB,0,27863000.0,37TH AVE & CABRILLO,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-122.497185 37.77385),8.0,8.0,8,4,29
4,PRESIDIO,GEARY,SE,NB,NaN,26834000.0,PRESIDIO AVE & GEARY BLVD,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-122.44582 37.78249),13.0,13.0,8,6,18

In [6]:
# all stop signs have lat/long 
pd.notnull(stops['shape']).unique()

array([ True])

In [7]:
import re

stop_lat = []
stop_long = []
for i in stops['shape']: 
    split = re.split(' |\(|\)', i)
    stop_lat = np.append(stop_lat, float(split[3]))
    stop_long = np.append(stop_long, float(split[2]))
    
stops['latitude'] = stop_lat
stops['longitude'] = stop_long

In [8]:
stops.head(5)

,STREET,X_STREET,DIRECTION,ST_FACING,DIST,CNN,CONCATENAT,MTAB_DATE,MTAB_RESO_TEXT,MTAB_MOTION,...,WORKORDER,INSTALL_DATE,shape,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods,latitude,longitude
0,MORAGA ST,45TH AVE,NE,WB,0,27930000.0,MORAGA ST & 45TH AVE,2.021062e+13,NaN,6423,...,21-02595,2.021072e+13,POINT (-122.50446 37.75488),39.0,39.0,10,7,35,37.754880,-122.504460
1,PERU,ATHENS,NaN,EB,NaN,21652000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,POINT (-122.42493 37.726322),90.0,90.0,9,1,7,37.726322,-122.424930
2,LA PLAYA ST,JUDAH,NW,SB,0,27960000.0,LA PLAYA ST & JUDAH,NaN,NaN,NaN,...,NaN,NaN,POINT (-122.50914 37.76028),39.0,39.0,10,7,35,37.760280,-122.509140
3,37TH AVE,CABRILLO,NW,SB,0,27863000.0,37TH AVE & CABRILLO,NaN,NaN,NaN,...,NaN,NaN,POINT (-122.497185 37.77385),8.0,8.0,8,4,29,37.773850,-122.497185
4,PRESIDIO,GEARY,SE,NB,NaN,26834000.0,PRESIDIO AVE & GEARY BLVD,NaN,NaN,NaN,...,NaN,NaN,POINT (-122.44582 37.78249),13.0,13.0,8,6,18,37.782490,-122.445820

In [9]:
stop = []
for i in range(len(tiles)):
    ti = tiles.iloc[i]
    lat1 = ti['Lat1']
    lat2 = ti['Lat2']
    long1 = ti['Long1']
    long2 = ti['Long2']
    f = len(stops[(stops['latitude'] < lat2) & (stops['latitude'] > lat1) & (stops['longitude'] > long2) & (stops['longitude'] < long1)])
    stop = np.append(stop,f)

In [10]:
tiles['Stop_Signs'] = stop

In [11]:
tiles[tiles['Stop_Signs'] > 0]

,Tile_ID,Long2,Lat2,Long1,Lat1,Mid_lat,Mid_long,Stop_Signs
10,266,-122.512166,37.779636,-122.511026,37.778732,37.779184,-122.511596,1.0
14,271,-122.512166,37.775118,-122.511026,37.774214,37.774666,-122.511596,4.0
25,385,-122.511026,37.776021,-122.509885,37.775118,37.775570,-122.510456,4.0
28,388,-122.511026,37.773311,-122.509885,37.772407,37.772859,-122.510456,1.0
47,494,-122.509885,37.781443,-122.508745,37.780539,37.780991,-122.509315,3.0
...,...,...,...,...,...,...,...,...
10319,14583,-122.370791,37.728130,-122.369651,37.727227,37.727679,-122.370221,1.0
10337,14699,-122.369651,37.727227,-122.368511,37.726323,37.726775,-122.369081,3.0
10355,14812,-122.368511,37.729034,-122.367371,37.728130,37.728582,-122.367941,3.0
10356,14813,-122.368511,37.728130,-122.367371,37.727227,37.727679,-122.367941,4.0
10393,15043,-122.366231,37.728130,-122.365091,37.727227,37.727679,-122.365661,2.0

Street Paving <br>
https://data.sfgov.org/d/5wbp-dwzt/about

In [12]:
paving = pd.read_csv(r'.\Data\Utility_Excavation_Moratorium_Streets.csv')
paving.head(5)

,CNN,Streetname,Limits,JobOrderNum,EffectiveDate,ExpirationDate,ModifiedDate,ID,X,Y,Latitude,Longitude,Location,point,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,13730000,WOOLSEY ST,BOWDOIN ST to DARTMOUTH ST (800 - 899),2977J,04/01/2022 12:00:00 AM,04/01/2027 12:00:00 AM,04/11/2022 09:57:48 AM,34852,6.009288e+06,2.091470e+06,37.723302,-122.410007,"(37.72330157541044, -122.41000739523302)",NaN,NaN,NaN,NaN,NaN,NaN
1,13731000,WOOLSEY ST,DARTMOUTH ST to COLBY ST (900 - 999),2977J,03/31/2022 12:00:00 AM,03/31/2027 12:00:00 AM,04/11/2022 09:54:08 AM,34854,6.009001e+06,2.091382e+06,37.723044,-122.410993,"(37.72304412011837, -122.41099254630903)",NaN,NaN,NaN,NaN,NaN,NaN
2,13732000,WOOLSEY ST,COLBY ST to UNIVERSITY ST (1000 - 1099),2977J,03/31/2022 12:00:00 AM,03/31/2027 12:00:00 AM,04/11/2022 09:54:08 AM,34856,6.008715e+06,2.091294e+06,37.722787,-122.411977,"(37.72278693382726, -122.41197662933816)",NaN,NaN,NaN,NaN,NaN,NaN
3,20876000,WOOLSEY ST,COLBY ST intersection,2977J,03/31/2022 12:00:00 AM,03/31/2027 12:00:00 AM,04/11/2022 09:54:08 AM,34855,6.008858e+06,2.091338e+06,37.722915,-122.411485,"(37.72291542361495, -122.41148498754468)",NaN,NaN,NaN,NaN,NaN,NaN
4,20868000,WOOLSEY ST,BOWDOIN ST intersection,2977J,04/01/2022 12:00:00 AM,04/01/2027 12:00:00 AM,04/11/2022 09:57:48 AM,34851,6.009431e+06,2.091514e+06,37.723430,-122.409515,"(37.72343033432908, -122.4095146857055)",NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
from datetime import datetime as dt

#Split pavement data between date groups A: 10/1/2018 - 9/30/2020 and B: 10/1/2020 - 9/30/2022

def date_group(x):
    x = dt.strptime(x, "%m/%d/%Y %H:%M:%S %p")
    if (x >= dt.strptime("10/1/2018", "%m/%d/%Y")) & (x <= dt.strptime("9/30/2020", "%m/%d/%Y")):
        return "H"
    if (x >= dt.strptime("10/1/2020", "%m/%d/%Y")) & (x <= dt.strptime("9/30/2022", "%m/%d/%Y")):
        return "F"

paving['Paving_date_group'] = paving['EffectiveDate'].apply(date_group)

In [15]:
# Counting historical paving

paving_h = paving[paving['Paving_date_group'] == 'H']

pave_h = []
for i in range(len(tiles)):
    ti = tiles.iloc[i]
    lat1 = ti['Lat1']
    lat2 = ti['Lat2']
    long1 = ti['Long1']
    long2 = ti['Long2']
    f = len(paving_h[(paving_h['Latitude'] < lat2) & (paving_h['Latitude'] > lat1) & (paving_h['Longitude'] > long2) & (paving_h['Longitude'] < long1)])
    pave_h = np.append(pave_h,f)

In [16]:
tiles['Paving_historical'] = pave_h

In [17]:
tiles[tiles['Paving_historical'] > 0].head(5)

,Tile_ID,Long2,Lat2,Long1,Lat1,Mid_lat,Mid_long,Stop_Signs,Paving_historical
49,496,-122.509885,37.779636,-122.508745,37.778732,37.779184,-122.509315,1.0,1.0
83,611,-122.508745,37.779636,-122.507605,37.778732,37.779184,-122.508175,2.0,3.0
130,726,-122.507605,37.779636,-122.506465,37.778732,37.779184,-122.507035,4.0,3.0
195,841,-122.506465,37.779636,-122.505325,37.778732,37.779184,-122.505895,2.0,3.0
202,848,-122.506465,37.773311,-122.505325,37.772407,37.772859,-122.505895,0.0,1.0

In [18]:
# Counting future paving 

paving_f = paving[paving['Paving_date_group'] == 'F']

pave_f = []
for i in range(len(tiles)):
    ti = tiles.iloc[i]
    lat1 = ti['Lat1']
    lat2 = ti['Lat2']
    long1 = ti['Long1']
    long2 = ti['Long2']
    f = len(paving_f[(paving_f['Latitude'] < lat2) & (paving_f['Latitude'] > lat1) & (paving_f['Longitude'] > long2) & (paving_f['Longitude'] < long1)])
    pave_f = np.append(pave_f,f)

In [19]:
tiles['Paving_future'] = pave_f

In [20]:
tiles[tiles['Paving_future'] > 0].head(5)

,Tile_ID,Long2,Lat2,Long1,Lat1,Mid_lat,Mid_long,Stop_Signs,Paving_historical,Paving_future
285,997,-122.505325,37.742588,-122.504185,37.741684,37.742136,-122.504755,4.0,0.0,2.0
336,1109,-122.504185,37.745299,-122.503045,37.744395,37.744847,-122.503615,0.0,0.0,1.0
339,1112,-122.504185,37.742588,-122.503045,37.741684,37.742136,-122.503615,2.0,0.0,3.0
355,1186,-122.503045,37.779636,-122.501905,37.778732,37.779184,-122.502475,7.0,0.0,3.0
381,1214,-122.503045,37.754335,-122.501905,37.753431,37.753883,-122.502475,0.0,0.0,1.0

Bus Stops <br>
https://data.sfgov.org/Transportation/Muni-Stops/i28k-bkz6

In [21]:
bus_stops = pd.read_csv(r'./Data/Muni_Stops.csv')
bus_stops.head(5)

,OBJECTID,STOPNAME,TRAPEZESTOPABBR,RUCUSSTOPABBR,STOPID,LATITUDE,LONGITUDE,ACCESSIBILITYMASK,ATSTREET,ONSTREET,...,INSERT_TIMESTAMP,SDE_ID,SIGNUPID,SUPERVISOR_DISTRICT,shape,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,36073,Powell St&Francisco St SE-NS/BZ,POWLFNC1,POWLFNCO,6056,37.804810,-122.411650,0.0,FRANCISCO ST,POWELL ST,...,20220727151100,14257412,134,NaN,POINT (-122.41165 37.80481),106.0,106.0,6.0,3.0,23.0
1,33704,Chestnut St&Laguna St SW-NS/BZ,CHESLGN1,CHESLGNA,3948,37.801370,-122.431406,0.0,LAGUNA ST,CHESTNUT ST,...,20220727151100,14253217,134,NaN,POINT (-122.431404 37.80137),17.0,17.0,4.0,6.0,13.0
2,33872,Geary Blvd&Fillmore St NW-FS/BZ,GEARFIL0,GEARFILL,4295,37.784391,-122.433050,0.0,AVERY ST,GEARY BLVD,...,20220727151100,14253429,134,NaN,POINT (-122.43305 37.78439),103.0,103.0,4.0,11.0,39.0
3,33441,3rd St&Folsom St N-FS/BZ,.3STFOL0,3STFOLS,3124,37.784204,-122.399326,0.0,CLEMENTINA ST,03RD ST,...,20220727151100,14252566,134,NaN,POINT (-122.39932 37.784203),32.0,32.0,1.0,10.0,8.0
4,35962,Presidio Ave&Sutter St NE-FS/PS,PRESSUT1,PRESSUTT,6098,37.784535,-122.446197,0.0,SUTTER ST,PRESIDIO AVE,...,20220727151100,14258040,134,NaN,POINT (-122.4462 37.784534),103.0,103.0,8.0,6.0,31.0

In [22]:
bus_stop = []
for i in range(len(tiles)):
    ti = tiles.iloc[i]
    lat1 = ti['Lat1']
    lat2 = ti['Lat2']
    long1 = ti['Long1']
    long2 = ti['Long2']
    f = len(bus_stops[(bus_stops['LATITUDE'] < lat2) & (bus_stops['LATITUDE'] > lat1) & (bus_stops['LONGITUDE'] > long2) & (bus_stops['LONGITUDE'] < long1)])
    bus_stop = np.append(bus_stop,f)

In [23]:
tiles['Bus_stop'] = bus_stop

In [24]:
tiles[tiles['Bus_stop'] > 0]

,Tile_ID,Long2,Lat2,Long1,Lat1,Mid_lat,Mid_long,Stop_Signs,Paving_historical,Paving_future,Bus_stop
27,387,-122.511026,37.774214,-122.509885,37.773311,37.773762,-122.510456,0.0,0.0,0.0,1.0
28,388,-122.511026,37.773311,-122.509885,37.772407,37.772859,-122.510456,1.0,0.0,0.0,2.0
30,390,-122.511026,37.771503,-122.509885,37.770600,37.771052,-122.510456,0.0,0.0,0.0,1.0
34,394,-122.511026,37.767889,-122.509885,37.766985,37.767437,-122.510456,0.0,0.0,0.0,2.0
38,398,-122.511026,37.764275,-122.509885,37.763371,37.763823,-122.510456,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
10284,14351,-122.373072,37.729938,-122.371932,37.729034,37.729486,-122.372502,1.0,0.0,0.0,1.0
10301,14466,-122.371932,37.729938,-122.370791,37.729034,37.729486,-122.371361,0.0,0.0,0.0,1.0
10302,14467,-122.371932,37.729034,-122.370791,37.728130,37.728582,-122.371361,0.0,0.0,0.0,1.0
10318,14582,-122.370791,37.729034,-122.369651,37.728130,37.728582,-122.370221,7.0,0.0,0.0,2.0
10374,14927,-122.367371,37.729034,-122.366231,37.728130,37.728582,-122.366801,0.0,0.0,0.0,1.0

Split historical and future collision data into tiles

In [25]:
collisions = pd.read_csv(r'.\Data\transbase_collisions_02112023.csv')
collisions.head(5)

#collisions.columns

# dataset is from 2017 - September 30 2022
# Historical Group: Oct 1 2018 - September 30 2020
# Future Group: Oct 1 2020 - September 30 2022

collisions['Historical'] = np.where((collisions['collision_date'] >= 20181001) & (collisions['collision_date'] <= 20200930),1,0)

collisions['Future'] = np.where((collisions['collision_date'] >= 20201001) & (collisions['collision_date'] <= 20220930),1,0)

collisions.head(5)

,type,geometry,case_id_pkey,collision_severity,accident_year,collision_date,collision_time,distance,direction,pcf_viol_category,...,bndy_type,party_at_fault,party1_type,party1_dir_of_travel,party1_move_pre_acc,party2_type,party2_dir_of_travel,party2_move_pre_acc,Historical,Future
0,Feature,[object Object],17045414,Injury (Complaint of Pain),2017,20171227,1849.0,0,Not Stated,Unknown,...,Geographic Boundary,1.0,Driver,South,Proceeding Straight,Driver,East,Proceeding Straight,0,0
1,Feature,[object Object],170800277,Injury (Complaint of Pain),2017,20171001,145.0,28,South,Unsafe speed for prevailing conditions,...,Geographic Boundary,1.0,Driver,North,Proceeding Straight,Driver,North,Making Left Turn,0,0
2,Feature,[object Object],170800299,Injury (Other Visible),2017,20171001,233.0,0,Not Stated,Violation of right-of-way - left turn,...,Geographic Boundary,1.0,Driver,East,Making Left Turn,Driver,South,Proceeding Straight,0,0
3,Feature,[object Object],170801106,Injury (Other Visible),2017,20171001,1228.0,99,East,Violation of right-of-way - left turn,...,Geographic Boundary,1.0,Driver,West,Making U Turn,Bicyclist,West,Proceeding Straight,0,0
4,Feature,[object Object],170801225,Injury (Complaint of Pain),2017,20171001,1300.0,210,North,Opening door on traffic side when unsafe,...,Geographic Boundary,1.0,Other,South,Stopped In Road,Driver,South,Passing Other Vehicle,0,0

In [27]:
# adding historical and future collisions to data frame

# 'Tile_ID', 'Lat1', 'Lat2', 'Long1', 'Long2', 'Mid'
collisions = collisions[(collisions['Future'] == 1) | (collisions['Historical'] == 1)]
collisions_f = collisions[collisions['Future'] == 1]
collisions_h = collisions[collisions['Historical'] == 1]
# for every tile, sum the future and historical collisions 
# the collision should take place within the tile 
fut = []
his = []
for i in range(len(tiles)):
    ti = tiles.iloc[i]
    lat1 = ti['Lat1']
    lat2 = ti['Lat2']
    long1 = ti['Long1']
    long2 = ti['Long2']
    f = len(collisions_f[(collisions_f['latitude'] < lat2) & (collisions_f['latitude'] > lat1) & (collisions_f['longitude'] > long2) & (collisions_f['longitude'] < long1)])
    h = len(collisions_h[(collisions_h['latitude'] < lat2) & (collisions_h['latitude'] > lat1) & (collisions_h['longitude'] > long2) & (collisions_h['longitude'] < long1)])
    fut = np.append(fut,f)
    his = np.append(his,h)

In [28]:
tiles['Collisions_Future'] = fut
tiles['Collisions_Historical'] = his

Exporting to csv

In [29]:
tiles.to_csv('.\Data\Tiles_expanded.csv', index=False)

In [30]:
tiles_2 = pd.read_csv(r'.\Data\Tiles_expanded.csv')
tiles_2.head(5)

,Tile_ID,Long2,Lat2,Long1,Lat1,Mid_lat,Mid_long,Stop_Signs,Paving_historical,Paving_future,Bus_stop,Collisions_Future,Collisions_Historical
0,36,-122.514446,37.779636,-122.513306,37.778732,37.779184,-122.513876,0.0,0.0,0.0,0.0,0.0,0.0
1,37,-122.514446,37.778732,-122.513306,37.777829,37.778280,-122.513876,0.0,0.0,0.0,0.0,0.0,0.0
2,151,-122.513306,37.779636,-122.512166,37.778732,37.779184,-122.512736,0.0,0.0,0.0,0.0,0.0,0.0
3,152,-122.513306,37.778732,-122.512166,37.777829,37.778280,-122.512736,0.0,0.0,0.0,0.0,0.0,0.0
4,153,-122.513306,37.777829,-122.512166,37.776925,37.777377,-122.512736,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
len(tiles_2)

10471