In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/Split_highway.csv')

In [3]:
df.head()

,bicycle,bridge,cycleway,footway,highway,lanes,lit,maxspeed,name,oneway,...,id,version,tags,osm_type,fid,id_2,left,top,right,bottom
0,NaN,NaN,NaN,NaN,residential,NaN,NaN,NaN,Macondray Lane,NaN,...,5004035,-1,NaN,way,9789,9789,-122.417536,37.799515,-122.416396,37.798612
1,no,NaN,NaN,NaN,motorway,5.0,NaN,55 mph,James Lick Freeway,yes,...,5071582,-1,"{""NHS"":""STRAHNET"",""hgv"":""designated"",""hgv:nati...",way,11603,11603,-122.400434,37.719094,-122.399294,37.718191
2,no,NaN,NaN,NaN,motorway,5.0,NaN,55 mph,James Lick Freeway,yes,...,5071582,-1,"{""NHS"":""STRAHNET"",""hgv"":""designated"",""hgv:nati...",way,11718,11718,-122.399294,37.719094,-122.398154,37.718191
3,no,NaN,NaN,NaN,motorway,5.0,NaN,55 mph,James Lick Freeway,yes,...,5071582,-1,"{""NHS"":""STRAHNET"",""hgv"":""designated"",""hgv:nati...",way,11719,11719,-122.399294,37.718191,-122.398154,37.717287
4,no,NaN,NaN,NaN,motorway,5.0,NaN,55 mph,James Lick Freeway,yes,...,5071582,-1,"{""NHS"":""STRAHNET"",""hgv"":""designated"",""hgv:nati...",way,11720,11720,-122.399294,37.717287,-122.398154,37.716383

In [5]:
df.columns

Index(['bicycle', 'bridge', 'cycleway', 'footway', 'highway', 'lanes', 'lit',
       'maxspeed', 'name', 'oneway', 'ref', 'service', 'sidewalk', 'surface',
       'id', 'version', 'tags', 'osm_type', 'fid', 'id_2', 'left', 'top',
       'right', 'bottom'],
      dtype='object')

In [6]:
df = df.drop(['version', 'id_2'], axis=1)

In [7]:
df['tags'].value_counts()

{"crossing":"marked"}                                                                                                                                                                                                                                             2126
{"layer":"-1"}                                                                                                                                                                                                                                                     493
{"tiger:cfcc":"A41","tiger:county":"San Francisco, CA","tiger:name_type":"St"}                                                                                                                                                                                     442
{"crossing":"unmarked"}                                                                                                                                                                                                                                            430
{"golf":"cartpath","golf_cart":"designated"}                                                                                                                                                                                                                       336
                                                                                                                                                                                                                                                                  ...
{"tiger:cfcc":"A41","tiger:county":"San Francisco, CA","tiger:name_base":"20th","tiger:name_type":"St","trolley_wire":"yes"}                                                                                                                                         1
{"tiger:cfcc":"A41","tiger:county":"San Francisco, CA","tiger:name_base":"Martinez","tiger:name_type":"St","tiger:reviewed":"no"}                                                                                                                                    1
{"access:lanes:forward":"no|yes|yes","busway:forward":"lane","lanes:backward":"3","lanes:forward":"3","name:etymology:wikidata":"Q91","parking:lane:both":"no","psv:lanes:forward":"designated|yes|yes","shoulder":"no","tiger:county":"San Francisco, CA","tu       1
{"tiger:cfcc":"A45","tiger:county":"San Francisco, CA","tiger:name_base":"Brotherhood","tiger:name_type":"Way","tiger:reviewed":"no","turn:lanes":"|through;slight_right"}                                                                                           1
{"bus":"yes","network":"Muni","operator":"San Francisco Municipal Railway","public_transport":"platform","shelter":"yes","tactile_paving":"no","wheelchair":"yes"}                                                                                                   1
Name: tags, Length: 8126, dtype: int64

In [8]:
groups = df.groupby('fid')

In [9]:
tile_value_count_df = df['fid'].value_counts().sort_values().to_frame().reset_index().rename(columns={'index': 'tile_id','fid':'count'})

In [10]:
tile_value_count_df[tile_value_count_df['count']==1]['tile_id']

0        2898
1       12182
2       14240
3       14355
4       14470
        ...
1337     2712
1338    13681
1339    11478
1340     2714
1341     4383
Name: tile_id, Length: 1342, dtype: int64

In [11]:
temp_tile_count_one = df[df['fid'].isin(tile_value_count_df[tile_value_count_df['count']==1]['tile_id'])]

In [12]:
temp_tile_count_one

,bicycle,bridge,cycleway,footway,highway,lanes,lit,maxspeed,name,oneway,...,sidewalk,surface,id,tags,osm_type,fid,left,top,right,bottom
37,NaN,NaN,NaN,NaN,residential,2.0,NaN,NaN,12th Avenue,NaN,...,both,NaN,8914970,"{""tiger:cfcc"":""A41"",""tiger:county"":""San Franci...",way,4670,-122.468841,37.748913,-122.467701,37.748010
46,NaN,NaN,NaN,NaN,residential,NaN,yes,NaN,12th Avenue,NaN,...,both,asphalt,8914974,"{""tiger:cfcc"":""A41"",""tiger:county"":""San Franci...",way,4537,-122.469981,37.765178,-122.468841,37.764275
48,NaN,NaN,NaN,NaN,residential,NaN,yes,NaN,12th Avenue,NaN,...,both,asphalt,8914974,"{""tiger:cfcc"":""A41"",""tiger:county"":""San Franci...",way,4539,-122.469981,37.763371,-122.468841,37.762467
73,NaN,NaN,NaN,NaN,residential,NaN,NaN,NaN,Arelius Walker Drive,NaN,...,NaN,NaN,8914996,"{""old_name"":""Fitch Street"",""tiger:cfcc"":""A41"",...",way,14348,-122.373072,37.732648,-122.371932,37.731745
91,NaN,NaN,NaN,NaN,residential,NaN,NaN,NaN,Aquavista Way,NaN,...,NaN,NaN,8915002,"{""tiger:cfcc"":""A41"",""tiger:county"":""San Franci...",way,6620,-122.449459,37.753431,-122.448319,37.752528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83040,NaN,NaN,NaN,NaN,residential,NaN,yes,NaN,11th Avenue,NaN,...,both,asphalt,1115795705,"{""cycleway:both"":""no"",""parking:lane:both"":""par...",way,4522,-122.469981,37.778732,-122.468841,37.777829
83042,NaN,NaN,NaN,NaN,residential,NaN,yes,NaN,11th Avenue,NaN,...,both,asphalt,1115795705,"{""cycleway:both"":""no"",""parking:lane:both"":""par...",way,4524,-122.469981,37.776925,-122.468841,37.776021
83045,NaN,NaN,NaN,NaN,residential,NaN,yes,NaN,11th Avenue,NaN,...,both,asphalt,1115795705,"{""cycleway:both"":""no"",""parking:lane:both"":""par...",way,4527,-122.469981,37.774214,-122.468841,37.773311
83167,NaN,NaN,NaN,NaN,residential,2.0,NaN,25 mph,45th Avenue,no,...,both,asphalt,1117521594,"{""cycleway:both"":""no"",""parking:lane:left"":""per...",way,844,-122.506465,37.776925,-122.505325,37.776021
83850,NaN,NaN,NaN,NaN,footway,NaN,no,NaN,Coastal Trail,NaN,...,NaN,sand,1133267398,NaN,way,2898,-122.485943,37.791383,-122.484803,37.790479

In [13]:
temp_tile_count_one.columns
for col in temp_tile_count_one.columns:
    print(f"{col}: {temp_tile_count_one[col].isnull().values.all()}, \
    {temp_tile_count_one[col].isnull().mean() * 100}")

bicycle: False,     92.10134128166915
bridge: False,     99.2548435171386
cycleway: False,     95.38002980625932
footway: False,     99.55290611028316
highway: False,     0.0
lanes: False,     83.90461997019374
lit: False,     62.74217585692996
maxspeed: False,     87.77943368107303
name: False,     21.982116244411326
oneway: False,     87.10879284649776
ref: False,     99.47839046199702
service: False,     99.2548435171386
sidewalk: False,     50.52160953800298
surface: False,     51.41579731743666
id: False,     0.0
tags: False,     16.98956780923994
osm_type: False,     0.0
fid: False,     0.0
left: False,     0.0
top: False,     0.0
right: False,     0.0
bottom: False,     0.0

In [14]:
df

,bicycle,bridge,cycleway,footway,highway,lanes,lit,maxspeed,name,oneway,...,sidewalk,surface,id,tags,osm_type,fid,left,top,right,bottom
0,NaN,NaN,NaN,NaN,residential,NaN,NaN,NaN,Macondray Lane,NaN,...,NaN,NaN,5004035,NaN,way,9789,-122.417536,37.799515,-122.416396,37.798612
1,no,NaN,NaN,NaN,motorway,5.0,NaN,55 mph,James Lick Freeway,yes,...,NaN,concrete,5071582,"{""NHS"":""STRAHNET"",""hgv"":""designated"",""hgv:nati...",way,11603,-122.400434,37.719094,-122.399294,37.718191
2,no,NaN,NaN,NaN,motorway,5.0,NaN,55 mph,James Lick Freeway,yes,...,NaN,concrete,5071582,"{""NHS"":""STRAHNET"",""hgv"":""designated"",""hgv:nati...",way,11718,-122.399294,37.719094,-122.398154,37.718191
3,no,NaN,NaN,NaN,motorway,5.0,NaN,55 mph,James Lick Freeway,yes,...,NaN,concrete,5071582,"{""NHS"":""STRAHNET"",""hgv"":""designated"",""hgv:nati...",way,11719,-122.399294,37.718191,-122.398154,37.717287
4,no,NaN,NaN,NaN,motorway,5.0,NaN,55 mph,James Lick Freeway,yes,...,NaN,concrete,5071582,"{""NHS"":""STRAHNET"",""hgv"":""designated"",""hgv:nati...",way,11720,-122.399294,37.717287,-122.398154,37.716383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83994,NaN,NaN,NaN,NaN,footway,NaN,NaN,NaN,NaN,NaN,...,NaN,paved,1144261224,NaN,way,11752,-122.398154,37.792286,-122.397014,37.791383
83995,NaN,NaN,NaN,NaN,footway,NaN,NaN,NaN,NaN,NaN,...,NaN,paved,1144261224,NaN,way,11867,-122.397014,37.792286,-122.395874,37.791383
83996,NaN,NaN,NaN,NaN,footway,NaN,NaN,NaN,NaN,NaN,...,NaN,paved,1144261225,NaN,way,11867,-122.397014,37.792286,-122.395874,37.791383
83997,NaN,NaN,NaN,NaN,footway,NaN,NaN,NaN,NaN,NaN,...,NaN,paved,1144261226,NaN,way,11752,-122.398154,37.792286,-122.397014,37.791383
83998,NaN,NaN,NaN,NaN,footway,NaN,NaN,NaN,NaN,NaN,...,NaN,paved,1144261226,NaN,way,11867,-122.397014,37.792286,-122.395874,37.791383

In [23]:
df[df['fid']==10725]['bicycle'].value_counts()

no     2
yes    2
Name: bicycle, dtype: int64

In [21]:
df['fid'].value_counts()

10725    63
11984    62
10721    62
7747     61
4340     60
         ..
3706      1
12440     1
9881      1
3254      1
2898      1
Name: fid, Length: 11795, dtype: int64

In [29]:
for col in df.columns:
    print(col)
    print(df[col].value_counts(dropna=False,normalize=True))
    print("\n\n\n")
# df['fid'].value_counts()

bicycle
NaN            0.924797
no             0.029215
yes            0.027965
designated     0.014072
dismount       0.002131
permissive     0.001238
private        0.000512
discouraged    0.000071
Name: bicycle, dtype: float64




bridge
NaN          0.982571
yes          0.016857
movable      0.000345
boardwalk    0.000202
gangway      0.000024
Name: bridge, dtype: float64




cycleway
NaN            0.962488
shared_lane    0.019750
lane           0.011453
track          0.003071
no             0.002357
separate       0.000512
crossing       0.000369
Name: cycleway, dtype: float64




footway
NaN               0.780259
sidewalk          0.135418
crossing          0.083870
ramp              0.000321
access_aisle      0.000060
square            0.000048
traffic_island    0.000024
Name: footway, dtype: float64




highway
footway           0.352564
residential       0.217669
service           0.158692
secondary         0.055560
tertiary          0.054155
primary           0.039512
steps             0.026857
path              0.021631
motorway          0.013631
unclassified      0.012298
motorway_link     0.010417
cycleway          0.009560
trunk             0.007476
pedestrian        0.006976
platform          0.002881
primary_link      0.002774
busway            0.001976
secondary_link    0.001643
track             0.001250
trunk_link        0.000702
construction      0.000631
tertiary_link     0.000429
corridor          0.000298
living_street     0.000179
proposed          0.000119
elevator          0.000071
bus_stop          0.000048
Name: highway, dtype: float64




lanes
NaN    0.798890
2.0    0.104037
3.0    0.046227
4.0    0.022155
1.0    0.021048
5.0    0.007024
6.0    0.000452
7.0    0.000095
8.0    0.000071
Name: lanes, dtype: float64




lit
NaN     0.784605
yes     0.196788
no      0.018584
24/7    0.000024
Name: lit, dtype: float64




maxspeed
NaN       0.858225
25 mph    0.050441
35 mph    0.024143
30 mph    0.021774
20 mph    0.015512
50 mph    0.009155
45 mph    0.005679
40 mph    0.003929
65 mph    0.003738
55 mph    0.003262
15 mph    0.002429
10 mph    0.001274
5 mph     0.000440
Name: maxspeed, dtype: float64




name
NaN                    0.553530
Market Street          0.005381
Geary Boulevard        0.005214
3rd Street             0.004893
James Lick Freeway     0.003905
                         ...
Pier 50 B              0.000012
Crestwell Walk         0.000012
Hopkins Avenue         0.000012
North Van Horn Lane    0.000012
Winter Place           0.000012
Name: name, Length: 2615, dtype: float64




oneway
NaN    0.783545
yes    0.190002
no     0.026346
-1     0.000107
Name: oneway, dtype: float64




ref
NaN            0.976071
US 101         0.008417
CA 1           0.005167
I 280          0.004369
I 80           0.002560
CA 35          0.002441
US 101;CA 1    0.000464
CA 82          0.000345
13927          0.000095
13192          0.000024
16999          0.000024
13191          0.000012
13193          0.000012
Name: ref, dtype: float64




service
NaN                 0.922928
parking_aisle       0.049393
alley               0.012226
driveway            0.011822
busway              0.002595
drive-through       0.000690
emergency_access    0.000190
fuel                0.000083
1                   0.000060
`s                  0.000012
Name: service, dtype: float64




sidewalk
NaN         0.803462
both        0.119680
right       0.035024
separate    0.019715
no          0.016929
left        0.005000
yes         0.000155
none        0.000036
Name: sidewalk, dtype: float64




surface
NaN                0.595364
asphalt            0.253682
concrete           0.085965
paved              0.021250
dirt               0.013953
paving_stones      0.008833
unpaved            0.004179
compacted          0.004167
ground             0.003250
concrete:plates    0.002393
sand               0.002310
wood               0.001405
gravel             0.001107
brick              0.000571
fine_gravel        0.000238
pebblestone        0.000202
bricks             0.000202
metal              0.000179
woodchips          0.000107
sett               0.000095
tile               0.000083
cobblestone        0.000071
2                  0.000060
rock               0.000060
grass              0.000060
Pavement           0.000048
dirt/sand          0.000048
ashpalt            0.000036
grass_paver        0.000024
Concrete           0.000012
dirt;sand          0.000012
1                  0.000012
stone              0.000012
rubber             0.000012
Name: surface, dtype: float64




id
661905446    0.000548
8921938      0.000548
419758443    0.000464
87099971     0.000440
28691787     0.000429
               ...
564760681    0.000012
564758068    0.000012
564758067    0.000012
564758065    0.000012
564748835    0.000012
Name: id, Length: 42714, dtype: float64




tags
NaN                                                                                                                                                                                                                                      0.450863
{"crossing":"marked"}                                                                                                                                                                                                                    0.025310
{"layer":"-1"}                                                                                                                                                                                                                           0.005869
{"tiger:cfcc":"A41","tiger:county":"San Francisco, CA","tiger:name_type":"St"}                                                                                                                                                           0.005262
{"crossing":"unmarked"}                                                                                                                                                                                                                  0.005119
                                                                                                                                                                                                                                           ...
{"lcn_ref":"25;60","oneway:bicycle":"yes","oneway:foot":"no","source:imagery":"Bing"}                                                                                                                                                    0.000012
{"crossing":"marked","lcn_ref":"25;60","oneway:bicycle":"no","source:imagery":"Bing"}                                                                                                                                                    0.000012
{"lanes:backward":"2","lanes:forward":"1","lcn_ref":"68","name:etymology:wikidata":"Q1323551","tiger:cfcc":"A41","tiger:county":"San Francisco, CA","tiger:name_base":"Evans","tiger:name_type":"Ave","turn:lanes:backward":"|right"}    0.000012
{"lanes:backward":"2","lanes:forward":"3","lcn_ref":"10","tiger:cfcc":"A41","tiger:county":"San Francisco, CA","tiger:name_base":"Broadway","tiger:name_base_1":"Broadway","tiger:name_type":"St","turn:lanes:forward":"||right"}        0.000012
{"lanes:backward":"2","lanes:forward":"3","tiger:cfcc":"A41","tiger:county":"San Francisco, CA","tiger:name_base":"Mission","tiger:name_type":"St","trolley_wire":"yes","turn:lanes:forward":"left||"}                                   0.000012
Name: tags, Length: 8127, dtype: float64




osm_type
way    1.0
Name: osm_type, dtype: float64




fid
10725    0.000750
11984    0.000738
10721    0.000738
7747     0.000726
4340     0.000714
           ...
3706     0.000012
12440    0.000012
9881     0.000012
3254     0.000012
2898     0.000012
Name: fid, Length: 11795, dtype: float64




left
-122.407275    0.013941
-122.408415    0.013631
-122.401575    0.013286
-122.406135    0.013238
-122.402715    0.012976
                 ...
-122.514446    0.000512
-122.361670    0.000405
-122.358250    0.000119
-122.360530    0.000095
-122.359390    0.000048
Name: left, Length: 138, dtype: float64




top
37.769696    0.017036
37.770600    0.016381
37.771503    0.015381
37.766985    0.015143
37.766082    0.014834
               ...
37.708251    0.005441
37.808551    0.004726
37.809455    0.003131
37.810358    0.001226
37.811262    0.001202
Name: top, Length: 115, dtype: float64




right
-122.406135    0.013941
-122.407275    0.013631
-122.400434    0.013286
-122.404995    0.013238
-122.401575    0.012976
                 ...
-122.513306    0.000512
-122.360530    0.000405
-122.357110    0.000119
-122.359390    0.000095
-122.358250    0.000048
Name: right, Length: 138, dtype: float64




bottom
37.768793    0.017036
37.769696    0.016381
37.770600    0.015381
37.766082    0.015143
37.765178    0.014834
               ...
37.707347    0.005441
37.807648    0.004726
37.808551    0.003131
37.809455    0.001226
37.810358    0.001202
Name: bottom, Length: 115, dtype: float64

## ROAD VECTORS TILED

In [23]:
df = pd.read_csv('../Data/Road_Vectors_Tiled.csv')
df = df.rename(columns={"id": "Tile_ID"})

In [24]:
df.head()

,wkt_geom,fid,LINEARID,FULLNAME,RTTYP,MTFCC,Tile_ID,left,top,right,bottom
0,MultiLineString ((-122.40410400000000379 37.74...,1,1.104990e+11,Hwy 101 S Off Rmp,M,S1400,11110,-122.404995,37.748913,-122.403855,37.748010
1,MultiLineString ((-122.47440799999999683 37.80...,2,1.104990e+11,Hwy 101 N on Rmp,M,S1400,4030,-122.474542,37.807648,-122.473402,37.806744
2,MultiLineString ((-122.47454194203001521 37.80...,3,1.104990e+11,Hwy 101 N on Rmp,M,S1400,3915,-122.475682,37.807648,-122.474542,37.806744
3,MultiLineString ((-122.41981637681401196 37.77...,4,1.108480e+12,US Hwy 101 Bus,U,S1200,9583,-122.419816,37.777829,-122.418676,37.776925
4,MultiLineString ((-122.41972054165864847 37.77...,5,1.108480e+12,US Hwy 101 Bus,U,S1200,9582,-122.419816,37.778732,-122.418676,37.777829

In [27]:
df.Tile_ID.value_counts()

11109    25
10779    18
10777    17
8138     16
10994    16
         ..
10802     1
2275      1
2274      1
2272      1
7293      1
Name: Tile_ID, Length: 10508, dtype: int64

In [28]:
df.RTTYP.value_counts(dropna=False)

M      25271
NaN     1193
I        423
S        357
U        286
O         11
Name: RTTYP, dtype: int64

In [29]:
df.MTFCC.value_counts()

S1400    24807
S1100      969
S1200      804
S1630      759
S1730       53
S1750       38
S1710       35
S1740       33
S1780       14
S1640       13
S1500        8
S1820        6
S1720        2
Name: MTFCC, dtype: int64

In [30]:
df_orig = pd.read_csv('../Data/Tiles_expanded.csv')

In [32]:
df_orig.columns

Index(['Tile_ID', 'Long2', 'Lat2', 'Long1', 'Lat1', 'Mid_lat', 'Mid_long',
       'Stop_Signs', 'Paving_historical', 'Paving_future', 'Bus_stop',
       'Collisions_Future', 'Collisions_Historical'],
      dtype='object')

In [84]:
joined_df = df_orig.join(df,on='Tile_ID',how='inner',lsuffix='_left',rsuffix='_right')

In [85]:
joined_df.columns

Index(['Tile_ID', 'Tile_ID_left', 'Long2', 'Lat2', 'Long1', 'Lat1', 'Mid_lat',
       'Mid_long', 'Stop_Signs', 'Paving_historical', 'Paving_future',
       'Bus_stop', 'Collisions_Future', 'Collisions_Historical', 'wkt_geom',
       'fid', 'LINEARID', 'FULLNAME', 'RTTYP', 'MTFCC', 'Tile_ID_right',
       'left', 'top', 'right', 'bottom'],
      dtype='object')

In [86]:
joined_df = joined_df.drop(['Tile_ID_left','wkt_geom','fid',
                'LINEARID','FULLNAME','Tile_ID_right','left','top','right','bottom'],axis=1)

In [87]:
joined_df['RTTYP'].value_counts(dropna=False)

M      9516
NaN     450
I       183
U       162
S       149
O        11
Name: RTTYP, dtype: int64

In [88]:
joined_df[joined_df['RTTYP'].isna()].reset_index(drop=True).iloc[0:50,:]

,Tile_ID,Long2,Lat2,Long1,Lat1,Mid_lat,Mid_long,Stop_Signs,Paving_historical,Paving_future,Bus_stop,Collisions_Future,Collisions_Historical,RTTYP,MTFCC
0,500,-122.509885,37.776021,-122.508745,37.775118,37.775570,-122.509315,5.0,0.0,0.0,0.0,1.0,0.0,NaN,S1630
1,501,-122.509885,37.775118,-122.508745,37.774214,37.774666,-122.509315,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
2,502,-122.509885,37.774214,-122.508745,37.773311,37.773762,-122.509315,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
3,503,-122.509885,37.773311,-122.508745,37.772407,37.772859,-122.509315,2.0,0.0,0.0,1.0,0.0,0.0,NaN,S1630
4,504,-122.509885,37.772407,-122.508745,37.771503,37.771955,-122.509315,0.0,0.0,0.0,1.0,0.0,0.0,NaN,S1630
5,505,-122.509885,37.771503,-122.508745,37.770600,37.771052,-122.509315,1.0,0.0,0.0,1.0,1.0,0.0,NaN,S1630
6,506,-122.509885,37.770600,-122.508745,37.769696,37.770148,-122.509315,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
7,749,-122.507605,37.758853,-122.506465,37.757949,37.758401,-122.507035,2.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
8,750,-122.507605,37.757949,-122.506465,37.757046,37.757497,-122.507035,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
9,751,-122.507605,37.757046,-122.506465,37.756142,37.756594,-122.507035,4.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
10,771,-122.507605,37.738974,-122.506465,37.738070,37.738522,-122.507035,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400
11,772,-122.507605,37.738070,-122.506465,37.737166,37.737618,-122.507035,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400
12,773,-122.507605,37.737166,-122.506465,37.736263,37.736715,-122.507035,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400
13,774,-122.507605,37.736263,-122.506465,37.735359,37.735811,-122.507035,0.0,0.0,0.0,1.0,1.0,0.0,NaN,S1400
14,981,-122.505325,37.757046,-122.504185,37.756142,37.756594,-122.504755,4.0,0.0,0.0,0.0,1.0,1.0,NaN,S1630
15,982,-122.505325,37.756142,-122.504185,37.755238,37.755690,-122.504755,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1780
16,983,-122.505325,37.755238,-122.504185,37.754335,37.754787,-122.504755,4.0,0.0,0.0,0.0,0.0,0.0,NaN,S1780
17,984,-122.505325,37.754335,-122.504185,37.753431,37.753883,-122.504755,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1780
18,985,-122.505325,37.753431,-122.504185,37.752528,37.752979,-122.504755,4.0,0.0,0.0,1.0,0.0,0.0,NaN,S1780
19,1086,-122.504185,37.766082,-122.503045,37.765178,37.765630,-122.503615,4.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400
20,1087,-122.504185,37.765178,-122.503045,37.764275,37.764726,-122.503615,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400
21,1088,-122.504185,37.764275,-122.503045,37.763371,37.763823,-122.503615,1.0,0.0,0.0,0.0,0.0,1.0,NaN,S1400
22,1893,-122.496204,37.764275,-122.495064,37.763371,37.763823,-122.495634,0.0,0.0,0.0,0.0,1.0,0.0,NaN,S1400
23,1894,-122.496204,37.763371,-122.495064,37.762467,37.762919,-122.495634,1.0,0.0,0.0,2.0,0.0,0.0,NaN,S1400
24,1895,-122.496204,37.762467,-122.495064,37.761564,37.762016,-122.495634,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
25,1896,-122.496204,37.761564,-122.495064,37.760660,37.761112,-122.495634,2.0,0.0,0.0,4.0,2.0,1.0,NaN,S1630
26,1901,-122.496204,37.757046,-122.495064,37.756142,37.756594,-122.495634,0.0,0.0,0.0,1.0,0.0,0.0,NaN,S1630
27,1902,-122.496204,37.756142,-122.495064,37.755238,37.755690,-122.495634,2.0,0.0,0.0,1.0,0.0,0.0,NaN,S1630
28,1930,-122.496204,37.730841,-122.495064,37.729938,37.730389,-122.495634,0.0,3.0,0.0,0.0,0.0,0.0,NaN,S1630
29,1931,-122.496204,37.729938,-122.495064,37.729034,37.729486,-122.495634,0.0,0.0,1.0,0.0,0.0,0.0,NaN,S1630
30,1932,-122.496204,37.729034,-122.495064,37.728130,37.728582,-122.495634,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
31,2002,-122.495064,37.769696,-122.493924,37.768793,37.769244,-122.494494,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
32,2005,-122.495064,37.766985,-122.493924,37.766082,37.766534,-122.494494,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
33,2006,-122.495064,37.766082,-122.493924,37.765178,37.765630,-122.494494,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
34,2007,-122.495064,37.765178,-122.493924,37.764275,37.764726,-122.494494,1.0,0.0,0.0,1.0,1.0,0.0,NaN,S1630
35,2008,-122.495064,37.764275,-122.493924,37.763371,37.763823,-122.494494,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
36,2009,-122.495064,37.763371,-122.493924,37.762467,37.762919,-122.494494,4.0,0.0,0.0,0.0,1.0,3.0,NaN,S1630
37,2010,-122.495064,37.762467,-122.493924,37.761564,37.762016,-122.494494,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
38,2099,-122.493924,37.785961,-122.492784,37.785057,37.785509,-122.493354,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
39,2101,-122.493924,37.784154,-122.492784,37.783250,37.783702,-122.493354,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
40,2127,-122.493924,37.760660,-122.492784,37.759757,37.760208,-122.493354,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
41,2139,-122.493924,37.749817,-122.492784,37.748913,37.749365,-122.493354,4.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
42,2140,-122.493924,37.748913,-122.492784,37.748010,37.748461,-122.493354,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1630
43,2141,-122.493924,37.748010,-122.492784,37.747106,37.747558,-122.493354,4.0,0.0,0.0,2.0,0.0,0.0,NaN,S1630
44,2802,-122.487083,37.774214,-122.485943,37.773311,37.773762,-122.486513,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400
45,2803,-122.487083,37.773311,-122.485943,37.772407,37.772859,-122.486513,1.0,0.0,0.0,0.0,2.0,3.0,NaN,S1400
46,2828,-122.487083,37.750720,-122.485943,37.749817,37.750269,-122.486513,4.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400
47,2829,-122.487083,37.749817,-122.485943,37.748913,37.749365,-122.486513,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400
48,2830,-122.487083,37.748913,-122.485943,37.748010,37.748461,-122.486513,2.0,0.0,0.0,2.0,0.0,0.0,NaN,S1400
49,2831,-122.487083,37.748010,-122.485943,37.747106,37.747558,-122.486513,0.0,0.0,0.0,0.0,0.0,0.0,NaN,S1400